repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
      exclude:
        ".xml"

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.51"
    hooks:
    - id: check-manifest

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/pylint
    rev: v4.0.4
    hooks:
    - id: pylint
      args:
        - --disable=missing-docstring,similarities,fixme
      additional_dependencies:
        - sphinx
        - docutils
        - pygments
      exclude: >
        (?x)^(
          setup.py|
          tests/.*|
          docs/.*
        )$
